@import "tailwindcss";
@import './fonts.css';
@import './theme.css';
@import './date-picker.css';

@layer base {
  html {
    /* min-h-[100dvh] s'adapte à la barre d'adresse mobile */
    @apply min-h-[100dvh] bg-gray-50 dark:bg-gray-950 overflow-y-scroll;
  }

  body {
    @apply min-h-[100dvh] font-sans text-gray-900 antialiased dark:text-gray-50;
  }

  #root {
    /* On laisse le root grandir librement */
    @apply min-h-[100dvh] w-full;
  }
}

/* Masquer la scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}